<a href="https://colab.research.google.com/github/JjKkhld/Pandas/blob/main/companies_proj_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. Librares and data import

In [ ]:
import pandas as pd
import numpy as np

companies_data = pd.read_csv('/content/drive/MyDrive/DataFrames/Companies_project/Companies.csv')
companies_data.head(5)

,Company_name,Description,Ratings,Highly_rated_for,Critically_rated_for,Total_reviews,Avg_salary,Interviews_taken,Total_jobs_available,Total_benefits
0,TCS,IT Services & Consulting | 1 Lakh+ Employees |...,3.8,"Job Security, Work Life Balance","Promotions / Appraisal, Salary & Benefits",73.1k,856.9k,6.1k,847,11.5k
1,Accenture,IT Services & Consulting | 1 Lakh+ Employees |...,4.0,"Company Culture, Skill Development / Learning,...",NaN,46.4k,584.6k,4.3k,9.9k,7.1k
2,Cognizant,IT Services & Consulting | 1 Lakh+ Employees |...,3.9,Skill Development / Learning,Promotions / Appraisal,41.7k,561.5k,3.6k,460,5.8k
3,Wipro,IT Services & Consulting | 1 Lakh+ Employees |...,3.8,Job Security,"Promotions / Appraisal, Salary & Benefits",39.2k,427.4k,3.7k,405,5k
4,Capgemini,IT Services & Consulting | 1 Lakh+ Employees |...,3.9,"Job Security, Work Life Balance, Skill Develop...","Promotions / Appraisal, Salary & Benefits",34k,414.4k,2.8k,719,4k

#2. Total records, define numeric & non-num columns

In [ ]:
print("Number of rows: {}".format(companies_data.shape[0]))
print("Number of columns: {}".format(companies_data.shape[1]))

Number of rows: 10000
Number of columns: 10

So we have 10 000 rows and 10 columns. Below line of a code checks wich columns we have, and we should make analysis what types of each columns are expected.

In [ ]:
print("Columns in our data: {}".format(companies_data.columns.values))

Columns in our data: ['Company_name' 'Description' 'Ratings' 'Highly_rated_for'
 'Critically_rated_for' 'Total_reviews' 'Avg_salary' 'Interviews_taken'
 'Total_jobs_available' 'Total_benefits']

**'Name_of_col' - dtype is expected**

*   'Company_name' - str
*   'Description' - str
*   'Ratings' - str
*   'Highly_rated_for' - str
*   'Critically_rated_for' - str
*   'Total_reviews' - float/int
*   'Avg_salary' - float/int
*   'Interviews_taken' - float/int
*   'Total_jobs_available' - float/int
*   'Total_benefits' - float/int

Here we can check if dtypes are appropriate

In [ ]:
# selct numeric columns
companies_data_num = companies_data.select_dtypes(include=[np.number])
numeric_cols = companies_data_num.columns.values
print("The numeric columns: {}".format(numeric_cols))

# select non-num colums
companies_data_nonnum = companies_data.select_dtypes(exclude=[np.number])
nonnumeric_cols = companies_data_nonnum.columns.values
print("The non-numeric columns: {}".format(nonnumeric_cols))

The numeric columns: ['Ratings']
The non-numeric columns: ['Company_name' 'Description' 'Highly_rated_for' 'Critically_rated_for'
 'Total_reviews' 'Avg_salary' 'Interviews_taken' 'Total_jobs_available'
 'Total_benefits']

Anfortunatly, the dtypes of num expected columns are not float or int. Let's check unique values each of these colmns.

In [ ]:
# np.set_printoptions(threshold=np.inf)

# companies_data['Total_reviews'].unique()
# companies_data['Avg_salary'].unique()
# companies_data['Interviews_taken'].unique()
# companies_data['Total_jobs_available'].unique()
# companies_data['Total_benefits'].unique()

After analysing of unigue values of each columns which should be numeric columns, we have unexpected symbol '--'. There is necessity to replace it on 'Nan'. Also we have sufix 'k' which means that the number should multiply by 1000. We won' be able to change a dtype if don't fix that.

# 3. Changing dtype

In [ ]:
print("All columns which must have int type: {}".format(companies_data.columns.values[5:]))

All columns which must have int type: ['Total_reviews' 'Avg_salary' 'Interviews_taken' 'Total_jobs_available'
 'Total_benefits']

Fisrst we should replace '--' on Nan in all columns (exeption is 'Total_reviews'). Writing the function wich delete k

In [ ]:
companies_data_copy = pd.read_csv('/content/drive/MyDrive/DataFrames/Companies_project/Companies.csv')

# function which changes '--' on 'NaN'
def replacing_nan(row):
  if row == '--':
    return row.replace('--', 'NaN')
  else:
    return row

# function which removes 'k' from the end of each row and returns its by * 1000
def removing_k(row):
    if 'k' in row:
        row = row.replace('k', '')
        return float(row) * 1000
    else:
        return row

# Apply the functions to respective columns
columns_to_process = ['Avg_salary', 'Interviews_taken', 'Total_jobs_available', 'Total_benefits']
for col in columns_to_process:
    companies_data_copy[col] = companies_data_copy[col].apply(replacing_nan).apply(removing_k).astype('float64')

# Convert 'Total_reviews' column to numeric and handle 'k' suffix
companies_data_copy['Total_reviews'] = companies_data_copy['Total_reviews'].apply(removing_k).astype('float64')

Source & Modify data compare

In [ ]:
pd.concat([companies_data['Total_reviews'], companies_data_copy['Total_reviews']],
          axis=1, keys=['Source data', 'Modify data'])

     Source data  Modify data
0          73.1k      73100.0
1          46.4k      46400.0
2          41.7k      41700.0
3          39.2k      39200.0
4            34k      34000.0
...          ...          ...
9995          72         72.0
9996          72         72.0
9997          72         72.0
9998          72         72.0
9999          72         72.0

[10000 rows x 2 columns]

As we can see on an exapmle with column "Total_reviews", above funcition succesfuly have changed our data.

Checking info after modify

In [ ]:
companies_data_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Company_name          10000 non-null  object
 1   Description           10000 non-null  object
 2   Ratings               10000 non-null  float64
 3   Highly_rated_for      9908 non-null   object
 4   Critically_rated_for  2807 non-null   object
 5   Total_reviews         10000 non-null  float64
 6   Avg_salary            9998 non-null   float64
 7   Interviews_taken      9781 non-null   float64
 8   Total_jobs_available  6077 non-null   float64
 9   Total_benefits        9921 non-null   float64
dtypes: float64(6), object(4)
memory usage: 781.4+ KB

Now all columns after 'Critically_rated_for' have float type

In [ ]:
# applying df
companies_data = companies_data_copy

#4. Missing Value Check & Duplication Checks

In [ ]:
values_are_null = companies_data.isna().sum()
values_are_null_per = (values_are_null / companies_data.isna().count()) * 100

missing_data = pd.concat([values_are_null, values_are_null_per], axis=1,
                         keys=['Total', 'Percent'])
missing_data

                      Total  Percent
Company_name              0     0.00
Description               0     0.00
Ratings                   0     0.00
Highly_rated_for         92     0.92
Critically_rated_for   7193    71.93
Total_reviews             0     0.00
Avg_salary                2     0.02
Interviews_taken        219     2.19
Total_jobs_available   3923    39.23
Total_benefits           79     0.79

We're giong to use numeric columns for analysis. I want drop all null records to do it clear. Also I'm going to drop 'Critically_rated_for' beacause there is 72 % of missing value despite on it's the str column.

In [ ]:
# dropping 'Critically_rated_for'
companies_data.drop('Critically_rated_for', axis=1, inplace=True)

# dropping 'na' rows
companies_data.dropna(inplace=True)

In [ ]:
# Missing values check again
companies_data.isnull().sum()

In [ ]:
# Duplication Checks
data_dedupped = companies_data.drop_duplicates()

print("Number of records after dropping duplicates: {}".format(data_dedupped.shape[0]))
print("Number of records before dropping duplicates: {}".format(companies_data.shape[0]))
print("There are {} duplicates in the data.".format(companies_data.shape[0] - data_dedupped.shape[0]))

# craeating finall dataset
finall_dataset = data_dedupped

Number of records after dropping duplicates: 5607
Number of records before dropping duplicates: 5931
There are 324 duplicates in the data.

# 5. Saving in another CSV

In [ ]:
print("Number of records in clear dataset: {}.".format(finall_dataset.shape[0]))
print("Number of records in clear dataset: {}.".format(finall_dataset.shape[1]))

Number of records in clear dataset: 5607.
Number of records in clear dataset: 9.

In [ ]:
# finall_dataset.to_csv('/content/drive/MyDrive/DataFrames/Companies_project/Companies_clean.csv', index=False)